h2:hover {
  cursor: pointer;
  background-color: rgb(237, 237, 237);
}

img {
  align-self: flex-start;

  border-radius: 50%;
  height: 58px;
  min-height: 28px;
  min-width: 28px;
  width: 28px;
}
