.navlink {
  text-transform: uppercase;
  font-size: 12px;
}

.navlink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navlink.active {
  font-weight: bold;
  color: blue;
}

a.navlink {
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
}
